<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982527880215-8s38d4qhco9hfirbb4qj40v8979munh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982527880215-8s38d4qhco9hfirbb4qj40v8979munh9</string>
	<key>API_KEY</key>
	<string>AIzaSyAu7hnbFae4Bti8xFLvwEwrgSQ9PPUUlTE</string>
	<key>GCM_SENDER_ID</key>
	<string>982527880215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>login-c0d76</string>
	<key>STORAGE_BUCKET</key>
	<string>login-c0d76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982527880215:ios:f3add3d877def4233f8052</string>
</dict>
</plist>